@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Architects Dautghter, cursive;
  }
}


bod {
  background: black;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-heignt: 1.1;
  
}


